.rodape {
    padding: 80px;
    color: var(--white);
    /* font-size: 14px; */
}

.conteudo-rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.rodape p {
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.rodape a {
    color: var(--brand-color-green);
    text-decoration: none;
    font-weight: 500;
}

.rodape a:hover {
    text-decoration: underline;
}